{% paginate collection.products by 20 %}

{% include 'breadcrumb' %}

{% assign has_sidebar = false %}
{% if collection.all_tags.size > 0 %}
  {% assign has_sidebar = true %}
{% endif %}




<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

 
<script type="text/javascript">
 
$( init );
 
function init() {
  $('.product-grid-image').draggable({
    revert: true,
    cursor: 'move'
  });
  $('.site-header').droppable( {
    drop: handleDropEvent,
    over: handleOverEvent,
    out:  handleOutEvent
  } );
}
function handleOverEvent( event, ui ) {
  $('#site_head_box').css('background-color', '#d3d3d3');
}
function handleOutEvent( event, ui ) {
  $('#site_head_box').css('background-color', '#ffffff');
}
    
function handleDropEvent( event, ui ) {
  var draggable = ui.draggable; 
  jQuery.post('/cart/add.js', {
  quantity: 1,
  id: draggable.attr('id')
});
  $('#header-wrap').hide();
  $('#header-wrap-message').show("slow");
  
  jQuery("#header_message_box").text('Item Added to Cart!');
  $('#header-wrap')
  .delay(3000)
  .queue(function (next) { 
    $(this).show("slow"); 
    next(); 
  });
  $('#header-wrap-message')
  .delay(3000)
  .queue(function (next) { 
    $(this).hide(); 
    next(); 
  });
    
  


jQuery.getJSON('/cart.js', function (cart, textStatus) {
  var carttext=cart.item_count;
  jQuery("#cart_span").text(carttext);
});
$('#site_head_box').css('background-color', '#ffffff');
}

 
</script>


<div class="grid grid-border">
  <p style="text-align:right;">Drag and Drop Items to top of page to add to cart!</p>

  {% if has_sidebar %}
  <aside class="sidebar grid-item large--one-fifth collection-filters" id="collectionFilters">
    {% include 'collection-sidebar' %}
    
  </aside>
  {% endif %}

  <div class="grid-item{% if has_sidebar %} large--four-fifths grid-border--left{% endif %}">

    {% comment %}
      Different markup if description is set
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header--title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr{% if has_sidebar %} class="hr--offset-left"{% endif %}>
      <div class="section-header">
        <div class="section-header--right">
          {% include 'collection-sorting' %}
          {% include 'collection-views' %}
          {% include 'toggle-filters' %}
        </div>
      </div>
    {% else %}
    <header class="section-header">
      <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
      <div class="section-header--right">
        {% include 'collection-sorting' %}
        {% include 'collection-views' %}
        {% include 'toggle-filters' %}
      </div>
    </header>
    
    {% endif %}
    

    <div class="grid-uniform">

      {% for product in collection.products %}
        
        {% if has_sidebar %}
          {% assign grid_item_width = 'large--one-quarter medium--one-third small--one-half' %}
        {% else %}
          {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
        {% endif %}
        {% include 'product-grid-item' %}

      {% else %}

        <div class="grid-item">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

      {% endfor %}

    </div>

  </div>

  {% if paginate.pages > 1 %}
  <div class="grid-item pagination-border-top">
    <div class="grid">
      <div class="grid-item{% if has_sidebar %} large--four-fifths push--large--one-fifth{% endif %}">
          <div class="text-center">
            {% include 'pagination-custom' %}
          </div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

{% endpaginate %}
